section(class="canvas front" id="front")

    div(class="content")

        h2 Clemens wird 31!

        div

            p Geburtstagseinladung

            div

                a(href="#section-2") Was soll ich mitnehmen?

    +nav-1({ target: "section-1", direction: "next" })
